/* IE哟，懒得说你了！！！ */


body{color: #222;font-size:13px;font-family: "Microsoft YaHei", Trebuchet MS, Arial, Verdana, Tahoma, "DejaVu Sans", "Liberation sans", "Bitstream Vera Sans", sans-serif;}
.slidecontent{font-family:Arial,sans-serif;}